*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center; 
}



body {
    background-image: url(./assets/Wallpaper\ -\ 1080x2560.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121214;
}

body * {
    font-family: 'Roboto', sans-serif;
}

header img {
  margin-top: 40px;
}

header h1 {
  margin: 30px;
}

h1, h2, h3, h4, h5{
  color: #F7DD43;
}

caption {
  text-align: left;
  font-size: 20px;
  color: #F7DD43;
}



table, th, td {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  width: 500px;
}

table th {
  background-color: #F7DD43;
}

table td {
  background-color: rgb(104, 129, 103);
}

tr td img:hover {
    transform: scale(1.1);
}

tr td img:hover {
    transition: transform 0.3s;
}

footer {
    margin: 20px;
}